.react-tel-input .country-list {
  position: absolute !important;
  left: 0 !important;
  width: var(--container-lg)!important;

}

.react-tel-input .search-box {
  width: 90% !important;
}

.react-tel-input .country-list .country {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-bottom: #ECECEC 1px solid;
}

.react-tel-input .country-list .country .country-name {
  margin-left: 0.5rem;
  color: #0F172A;
  flex-grow: 1;
  text-align: left;
}

.react-tel-input .country-list .dial-code {
  color: #475569;
  white-space: nowrap;
}

.react-tel-input .country-list .country:hover {
  background-color: #F1F8F5;
}
